.containerProjetos {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-left: 250px;
    justify-self: center; 
    align-self: center;
    justify-content: center; 
    align-items: center; 
  }
  
  #projeto-imagem {
    width: 100%;
    justify-self: center; 
    align-self: center;
    height: auto;
    filter: grayscale(0);
    transition: filter 0.3s ease-in-out;
  }
  
  .colRight {
    max-width: 500px;
    text-align: left;
    font-weight: 200;
    margin: 0;
    line-height: 18pt;
    letter-spacing: 0.5px;
    color: #282828;
    font-family: "Nanum Gothic", sans-serif;
    text-wrap: wrap;
    font-size: 1rem;
  }
  
  #projeto-imagem:hover {
    filter: grayscale(100%);
  }
  
  .colCenter {
    padding: 50px;
  }
  