#google_translate_element {
    display: flex;
    position: absolute;
    justify-content: flex-end;
    margin-top: 20px;
  }
  
  .goog-te-combo {
    color: #f5f5f5; 
    border-radius: 4px; 
    padding: 5px 10px; 
    font-size: 16px; 
    cursor: pointer;
    outline: none;
  }
