@import url('./style/efeito.css');
@import url('./style/theme.css');
@import url('./style/tradutor.css');
@import url('./style/habilidades.css');
@import url('./style/projetos.css');

.App {
  text-align: center;

}

body{
  background-color: #f1f1f1;
}


.App-link {
  color: #ec058c;
}




.nav-link {
  color: #ff0ba1; 
  margin: 0 5px; 
  display: flex;
  align-items: center;
  gap: 3px;
}

.nav-link:hover {
  color: #c0c0c0; 
}

.nav-link i {
  font-size: 1.2rem;
}


