@import url('./style/efeito.css');
@import url('./style/theme.css');
@import url('./style/tradutor.css');

.App {
  text-align: center;

}

body{
  background-color: #f1f1f1;
}


.App-link {
  color: #61dafb;
}




.nav-link {
  color: #2f0549; 
  margin: 0 5px; 
  display: flex;
  align-items: center;
  gap: 3px;
}

.nav-link:hover {
  color: #6e2899; 
}

.nav-link i {
  font-size: 1.2rem;
}


